body {
    display: flex;
    background-color: #FEF6E4;
    color: #041A5E;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.navbar {
    background-color: #72ecec; 
    position: fixed;
    min-width: 280px;
    height: 100%;
    border-right: solid;
    border-color: rgba(0, 22, 22, 0.4);
}

.container {
    margin-left: 20%;
}

.navul {
    padding-left: 5px;
}

.navul li {
    list-style: none;
    margin: 25px;
    left: -10%;
    position: relative;
    padding-top: 10px;
    text-align: center; 
    height: 88%; 
    border-top: 1px solid #041A5E;
    width: 100%;
    padding-left: 0%;
    cursor: pointer;
}

.navbar a{
    text-decoration: none;
}

h1 {
    text-align: center;
}

h2 {
    background-color: #F582AE; 
    color: black;
    padding: 4px;
}

section {
    line-height: 1.8;
}
 
@media screen and (max-width: 1400px) {
    body {
        display: block;
    }
    .navbar{
        position: sticky;
    }

    .navbar li {
        list-style: none;
        padding-top: 2px;
        left: 28%;
        border-top: none; 
        padding-left: 0%;

    }

    h1 {
        text-align: left;
    }

    .navbar ul {
        display: flex; 
        overflow-y: scroll;
        border-top: none; 
        align-items: center; 
        position: relative; 
    }

    .container {
        top: 20%;
        position: absolute;
        z-index: -1;
        margin:  0;
    }
}
